@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmlnaHQlMjBza3l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center center;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}

.contador_cont {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.texto {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.obj_cont {
    text-align: center;
}

.obj_cont span {
    font-size: 1.5rem;
}